@import "../styles/vars.scss";
@import "../styles/mixins.scss";

.cfm-grid-layout {
  display: grid;
  @include on-device($tablet) {
    grid-template-columns: 1fr 1fr!important;
  }
  @include on-device($mobile) {
    grid-template-columns: 1fr!important;
  }
}
